/* Write your CSS here */
.cardContainer {
  padding: 25px;
  height: 100px;
  width: 300px;
  border-radius: 10px;
  border: 1px solid #fff;
  background-color: #ffffff33;
  opacity: 0.5;
  display: flex;
  margin-top: 30px;
  align-items: center;
  gap: 20px;
}

.cardLink {
  text-decoration: none;
  color: #fff;
}
.teamCard {
  height: 50px;
  width: 50px;
}
